@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.custom-calendar {
  background-color: #f3f5f7; /* Light Red Background */
  border-radius: 8px;
  padding: 10px;
}

.rbc-day-bg {
  background: white !important; /* Soft Pinkish Red */
}

.rbc-today {
  background: #fecaca !important; /* Lighter Red for Today */
}

.rbc-header {
  background: #b91c1c; /* Darker Red Headers */
  color: white !important;
  padding: 8px;
  border-radius: 6px;
}

.rbc-event {
  transition: 0.5s;
}

.rbc-event:hover {
  background-color: #b91c1c !important;
  transform: scale(1.1); /* Darker red on hover */
}

.rbc-selected {
  background-color: #7f1d1d !important; /* Deep red for selected events */
}
